
@mixin xm-device {
    @media (max-width: #{$phone-width - 1px}) {
      @content;
    }
  }
  @mixin phone {
    @media (min-width: #{$phone-width}) and (max-width: #{$tablet-width - 1px}) {
      @content;
    }
  }
  @mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$laptop-width - 1px}) {
      @content;
    }
  }
  @mixin laptop {
    @media (min-width: #{$laptop-width} ) and (max-width: #{$desktop-width - 1px}) {
      @content;
    }
  }
  @mixin desktop {
    @media (min-width: #{$desktop-width}) {
      @content;
    }
  }
  // @mixin imac {
  //   @media (min-width: #{$imac-width}) {
  //     @content;
  //   }
  // }

  @mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }