$color__crema: #fff4cc;
$color__blanco: #f6f6f6;
$color__amarillo: #ffbd12;
$color__naranja: #f95a2c;
$color__roca: #fff3f8;
$color__pistache: #d6fcf7;
$color__salmon: #ff9692;
$color__ultramar: #1947e6;
$color__uva: #a259fe;
$color__dark: rgba(39, 39, 39, 0.993);
$color__gray: #5e636e;
$breakpoint-tablet: 768px;

$breakpoints: (
  phone: 640px,
  tablet: 768px,
  desktop: 1200px,
) !default;

$phone-width: 600px;
$tablet-width: 768px;
$laptop-width: 992px;
// $desktop-width: 1024px;
$desktop-width: 1200px;
$imac-width: 1620px;