@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;0,800;0,900;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e2e8f0;
}

body {
  margin: 0;
  padding: 0;
  color: rgba(39, 39, 39, 0.993);
  font-family: "Montserrat", sans-serif;
}

body h1 {
  display: block;
  font-size: 2em;
  -webkit-margin-before: 0.67em;
          margin-block-start: 0.67em;
  -webkit-margin-after: 0.67em;
          margin-block-end: 0.67em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-style: normal;
  font-weight: 800;
  font-size: 95.273px;
  line-height: 117px;
}

@media (max-width: 599px) {
  body h1 {
    font-size: 76px;
    line-height: 98px;
  }
}

body h2 {
  display: block;
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
          margin-block-start: 0.83em;
  -webkit-margin-after: 0.83em;
          margin-block-end: 0.83em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-style: normal;
  font-weight: 800;
  font-size: 58.0501px;
  line-height: 71px;
}

@media (max-width: 599px) {
  body h2 {
    font-size: 39px;
    line-height: 52px;
  }
}

body p {
  display: block;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 30.5806px;
  line-height: 52px;
}

@media (max-width: 599px) {
  body p {
    font-size: 22px;
    line-height: 40px;
  }
}

body a {
  color: inherit;
  text-decoration: inherit;
}

body header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 10px 30px 12px 30px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(53.17%, #ffffff), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, #ffffff 53.17%, rgba(255, 255, 255, 0) 100%);
  height: 100px;
  color: tomato;
}

@media (min-width: 1024px) {
  body header {
    padding: 10px 120px 12px 120px;
  }
}

body footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  text-align: center;
  height: 45px;
  width: 100%;
}

body blockquote,
body dd,
body dl,
body figure,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body hr,
body p,
body pre {
  margin: 0;
}

body .grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  gap: 1rem;
}

@media (max-width: 599px) {
  body .grid {
    -ms-grid-columns: (minmax(0, 1fr))[1];
        grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  body .grid {
    -ms-grid-columns: (minmax(0, 1fr))[1];
        grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  body .grid {
    -ms-grid-columns: (minmax(0, 1fr))[2];
        grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 992px) and (max-width: 1023px) {
  body .grid {
    -ms-grid-columns: (minmax(0, 1fr))[3];
        grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  body .grid {
    -ms-grid-columns: (minmax(0, 1fr))[3];
        grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.marvel {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 80px;
}

@media (min-width: 1024px) {
  .marvel {
    padding-left: 120px;
    padding-right: 120px;
  }
}

.marvel__border {
  /* Colors / Black */
  border: 2px solid rgba(39, 39, 39, 0.993);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* Shadow / 400 */
  -webkit-box-shadow: 0px 4px 0px rgba(39, 39, 39, 0.993);
          box-shadow: 0px 4px 0px rgba(39, 39, 39, 0.993);
  border-radius: 16px;
}

.marvel__section {
  margin-top: 40px;
}

.marvel__project {
  margin-top: 30px;
  width: 100%;
  height: 287px;
  background: #fafafa;
  border: 6.7957px solid rgba(39, 39, 39, 0.993);
  border-radius: 34.828px;
}

.marvel__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 15px;
}

.marvel__flex div {
  margin: 15px;
}

.marvel__card {
  margin-top: 30px;
  width: 180px;
}

.fa {
  display: inline-table;
  padding: 15px;
  font-size: 30px;
  border-radius: 25%;
  background: rgba(39, 39, 39, 0.993);
  color: white;
}

.fa:hover {
  opacity: 0.8;
}

.marker {
  background-color: #c4dffd;
}

.marker:hover {
  background-color: tomato;
  background-color: rgba(39, 39, 39, 0.993);
  color: white;
}

.slow_shake_it:hover {
  -webkit-animation: shake 4.5s;
          animation: shake 4.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.shake_it:hover {
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

.wave {
  -webkit-animation-name: wave-animation;
          animation-name: wave-animation;
  /* Refers to the name of your @keyframes element below */
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  /* Change to speed up or slow down */
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  /* Never stop waving :) */
  -webkit-transform-origin: 70% 70%;
          transform-origin: 70% 70%;
  /* Pivot around the bottom-left palm */
  display: inline-block;
}

@-webkit-keyframes wave-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  30% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  40% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  /* Reset for the last half to pause */
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes wave-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  /* The following five values can be played with to make the waving more or less extreme */
  20% {
    -webkit-transform: rotate(-8deg);
            transform: rotate(-8deg);
  }
  30% {
    -webkit-transform: rotate(14deg);
            transform: rotate(14deg);
  }
  40% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  /* Reset for the last half to pause */
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.rainbow:hover {
  -webkit-animation: rainbow 2.5s linear;
          animation: rainbow 2.5s linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes rainbow {
  100%,
  0% {
    color: red;
  }
  8% {
    color: #ff7f00;
  }
  16% {
    color: yellow;
  }
  25% {
    color: chartreuse;
  }
  33% {
    color: lime;
  }
  41% {
    color: springgreen;
  }
  50% {
    color: cyan;
  }
  58% {
    color: #007fff;
  }
  66% {
    color: blue;
  }
  75% {
    color: #7f00ff;
  }
  83% {
    color: magenta;
  }
  91% {
    color: #ff007f;
  }
}

@keyframes rainbow {
  100%,
  0% {
    color: red;
  }
  8% {
    color: #ff7f00;
  }
  16% {
    color: yellow;
  }
  25% {
    color: chartreuse;
  }
  33% {
    color: lime;
  }
  41% {
    color: springgreen;
  }
  50% {
    color: cyan;
  }
  58% {
    color: #007fff;
  }
  66% {
    color: blue;
  }
  75% {
    color: #7f00ff;
  }
  83% {
    color: magenta;
  }
  91% {
    color: #ff007f;
  }
}

.stage {
  margin-top: 45px;
  width: 100%;
}

@media (max-width: 599px) {
  .stage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.box {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  height: 50px;
  margin: 0 auto 0 auto;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  width: 50px;
  margin: 15px;
}

.jump:hover {
  -webkit-animation-name: jump;
          animation-name: jump;
  -webkit-animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
          animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
}

@-webkit-keyframes jump {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  10% {
    -webkit-transform: scale(1.1, 0.9) translateY(0);
            transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    -webkit-transform: scale(0.9, 1.1) translateY(-40px);
            transform: scale(0.9, 1.1) translateY(-40px);
  }
  50% {
    -webkit-transform: scale(1.05, 0.95) translateY(0);
            transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    -webkit-transform: scale(1, 1) translateY(-7px);
            transform: scale(1, 1) translateY(-7px);
  }
  64% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  100% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
}

@keyframes jump {
  0% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  10% {
    -webkit-transform: scale(1.1, 0.9) translateY(0);
            transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    -webkit-transform: scale(0.9, 1.1) translateY(-40px);
            transform: scale(0.9, 1.1) translateY(-40px);
  }
  50% {
    -webkit-transform: scale(1.05, 0.95) translateY(0);
            transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    -webkit-transform: scale(1, 1) translateY(-7px);
            transform: scale(1, 1) translateY(-7px);
  }
  64% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
  100% {
    -webkit-transform: scale(1, 1) translateY(0);
            transform: scale(1, 1) translateY(0);
  }
}
/*# sourceMappingURL=styles.css.map */