@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;0,800;0,900;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato");
@import "utils/_variables", "utils/__mixins";

* {
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e2e8f0;
}

body {
  margin: 0;
  padding: 0;
  color: $color__dark;
  font-family: "Montserrat", sans-serif;

  &.dark-mode {
    background-color: $color__dark;
    color: $color__blanco;

    a {
      color: $color__blanco;
    }
    
    p {
      color: $color__blanco;
    }

    .t__uva {
      color: $color__amarillo;
    }

    .t__marker {
      background-color: $color__blanco;
      color: $color__dark;
    }

    header {
      background: linear-gradient(
        180deg,
        $color__dark 53.17%,
        rgba(0, 0, 0, 0) 100%
      );
    }

    .project {
      background: $color__dark;
      &__header {
        background: $color__dark;
      }
    }

    footer {
      color: $color__blanco;
    }
  }

  h1 {
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-style: normal;
    font-weight: 800;
    font-size: 75.273px;
    line-height: 117px;

    @include xm-device {
      font-size: 55px;
      line-height: 98px;
    }
  }

  h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-style: normal;
    font-weight: 800;
    font-size: 48.0501px;
    line-height: 71px;
    @include xm-device {
      font-size: 39px;
      line-height: 52px;
    }
  }
  h3 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-style: normal;
    font-weight: 800;
    font-size: 48.0501px;
    line-height: 71px;
    @include xm-device {
      font-size: 29px;
      line-height: 52px;
    }
  }
  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 52px;
    color: $color__gray;

    @include tablet {
      font-size: 21px;
      line-height: 40px;
    }
    @include phone {
      font-size: 20px;
      line-height: 40px;
    }
    @include xm-device {
      font-size: 20px;
      line-height: 40px;
    }
  }
  a {
    color: inherit;
    text-decoration: inherit;
  }
  header {
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 10px 30px 12px 30px;    
    background: linear-gradient(
      180deg,
      #ffffff 53.17%,
      rgba(255, 255, 255, 0) 100%
    );
    @include desktop {
      padding: 10px 120px 12px 120px;
    }
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .header-buttons {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .languages, .mode-toggle {
      background-color: transparent;
    }
  }
  footer {
    flex-shrink: 0;
    text-align: center;
    height: 45px;
    width: 100%;
  }
  blockquote,
  dd,
  dl,
  figure,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  hr,
  p,
  pre {
    margin: 0;
  }
  .grid {
    display: grid;
    grid-gap: 1rem;
    gap: 1rem;
    @include xm-device {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    @include phone {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    @include tablet {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @include laptop {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @include desktop {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @include desktop {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}
.marvel {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 80px;
  @include desktop {
    padding-left: 250px;
    padding-right: 250px;
  }
  &__intro {
    text-align: center;
  }
  &__border {
    /* Colors / Black */
    border: 2px solid $color__dark;
    box-sizing: border-box;
    /* Shadow / 400 */
    box-shadow: 0px 4px 0px $color__dark;
    border-radius: 16px;
  }
  &__section {
    margin-top: 40px;
    ul {
      list-style: none;
      li a {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 52px;
        color: $color__gray;
      }
    }
  }
  &__course {
    display: grid;
    background: #fafafa;
    border-radius: 18px;
    width: 100%;
    min-height: 90px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  &__flex {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 15px;
    div {
      margin: 15px;
    }
  }
  &__column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 15px;
    padding-left: 15px;
    ul {
      list-style: none;
    }
    &__job {
      padding-top: 10px;
      display: block;
      font-size: 29px;
      @include xm-device {
        font-size: 22px;
      }
    }
    &__logo {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      transform: translate(-63px, -83px);
      border: 3px solid $color__uva;
      background-color: $color__blanco;
    }
    &__description {
      font-size: 18px;
      margin-top: -60px;
      line-height: 2rem;
    }
    &__now {
      animation: rainbow 2.5s linear;
      animation-iteration-count: infinite;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
    }
    div {
      border-left: 3px solid $color__uva;
      padding-left: 35px;
    }
  }
  &__card {
    margin-top: 30px;
    height: 150px;
    @include xm-device {
      height: 120px;
    }
  }
}

.project {
  margin-top: 20px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 2px 20px 0 rgb(0 0 0 / 22%);
  position: relative;
  text-align: left;
  background: #fff;
  &__header {
    position: relative;
    overflow: hidden;
    background: #f6f6f6;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  &__body {
    padding: 14px 0.75rem 1.75rem;
    p {
      line-height: normal;
    }
  }
  &__description {
    font-family: lato, sans-serif, Arial;
    font-size: 18px;
    margin-top: 8px;
  }
  &__link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
  }
}

.languages {
  background-color: transparent;
  cursor: pointer;
}

.mode-toggle {
  background-color: transparent;
  cursor: pointer;
  margin-left: 10px;
}

.mrg-20 {
  margin-top: -20px;
}

.t {
  &__center {
    text-align: center;
  }
  &__start {
    text-align: start;
  }
  &__end {
    text-align: end;
  }
  &__bold {
    font-weight: 800;
  }
  &__regular {
    font-weight: 500;
  }
  &__uva {
    color: $color__uva;
  }
  &__rainbow:hover {
    animation: rainbow 2.5s linear;
    animation-iteration-count: infinite;
  }
  &__marker {
    background-color: $color__dark;
    color: $color__blanco;
  }
  &__marker:hover {
    background-color: $color__uva;
  }
}

.fa {
  display: inline-table;
  padding: 15px;
  font-size: 28px;
  border-radius: 25%;
  background: $color__dark;
  color: $color__blanco;
}

.fa:hover {
  background-color: $color__uva;
}

.slow_shake_it:hover {
  animation: shake 4.5s;
  animation-iteration-count: infinite;
}

.medium_shake_it:hover {
  animation: shake 2.5s;
  animation-iteration-count: infinite;
}

.shake_it:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

@keyframes rainbow {
  100%,
  0% {
    color: rgb(255, 0, 0);
  }
  8% {
    color: rgb(255, 127, 0);
  }
  16% {
    color: rgb(255, 255, 0);
  }
  25% {
    color: rgb(127, 255, 0);
  }
  33% {
    color: rgb(0, 255, 0);
  }
  41% {
    color: rgb(0, 255, 127);
  }
  50% {
    color: rgb(0, 255, 255);
  }
  58% {
    color: rgb(0, 127, 255);
  }
  66% {
    color: rgb(0, 0, 255);
  }
  75% {
    color: rgb(127, 0, 255);
  }
  83% {
    color: rgb(255, 0, 255);
  }
  91% {
    color: rgb(255, 0, 127);
  }
}

.stage {
  margin-top: 45px;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  flex-direction: row;
  justify-content: space-evenly;
  // this is a temporal fix
  @include xm-device { 
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }
}

.box {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  height: 25px;
  margin: 0 auto 0 auto;
  transform-origin: bottom;
  width: 25px;
  margin: 8px;
  @include xm-device{
    width: 18px;
    margin: 8px;
    height: 18px;
  }
}
.jump:hover {
  animation-name: jump;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
}
@keyframes jump {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-40px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}