@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;0,800;0,900;1,900&display=swap");

$color__crema: #fff4cc;
$color__blanco: #ffffff;
$color__amarillo: #ffbd12;
$color__naranja: #f95a2c;
$color__roca: #fff3f8;
$color__pistache: #d6fcf7;
$color__salmon: #ff9692;
$color__ultramar: #1947e6;
$color__uva: #a259fe;
$color__dark: rgba(39, 39, 39, 0.993);
$breakpoint-tablet: 768px;

$breakpoints: (
  phone: 640px,
  tablet: 768px,
  desktop: 1024px,
) !default;

$phone-width: 600px;
$tablet-width: 768px;
$laptop-width: 992px;
$desktop-width: 1024px;
$imac-width: 1620px;

@mixin xm-device {
  @media (max-width: #{$phone-width - 1px}) {
    @content;
  }
}
@mixin phone {
  @media (min-width: #{$phone-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$laptop-width - 1px}) {
    @content;
  }
}
@mixin laptop {
  @media (min-width: #{$laptop-width} ) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktop-width}) and (max-width: #{$imac-width - 1px}) {
    @content;
  }
}
@mixin imac {
  @media (min-width: #{$imac-width}) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e2e8f0;
}

body {
  margin: 0;
  padding: 0;
  color: $color__dark;
  font-family: "Montserrat", sans-serif;

  h1 {
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-style: normal;
    font-weight: 800;
    font-size: 75.273px;
    line-height: 117px;

    @include xm-device {
      line-height: 98px;
    }
  }

  h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-style: normal;
    font-weight: 800;
    font-size: 58.0501px;
    line-height: 71px;
    @include xm-device {
      font-size: 39px;
      line-height: 52px;
    }
  }
  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 52px;

    @include tablet {
      font-size: 22px;
      line-height: 40px;
    }
    @include phone {
      font-size: 22px;
      line-height: 40px;
    }
    @include xm-device {
      font-size: 22px;
      line-height: 40px;
    }
  }
  a {
    color: inherit;
    text-decoration: inherit;
  }
  header {
    position: sticky;
    top: 0;
    padding: 10px 30px 12px 30px;
    @include desktop {
      padding: 10px 120px 12px 120px;
    }
    background: linear-gradient(
      180deg,
      #ffffff 53.17%,
      rgba(255, 255, 255, 0) 100%
    );
    height: 100px;
  }
  footer {
    flex-shrink: 0;
    text-align: center;
    height: 45px;
    width: 100%;
  }
  blockquote,
  dd,
  dl,
  figure,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  hr,
  p,
  pre {
    margin: 0;
  }
  .grid {
    display: grid;
    grid-gap: 1rem;
    gap: 1rem;
    @include xm-device {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    @include phone {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    @include tablet {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    @include laptop {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @include desktop {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @include imac {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}
.marvel {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 80px;
  @include desktop {
    padding-left: 180px;
    padding-right: 180px;
  }
  @include imac {
    padding-left: 300px;
    padding-right: 300px;
  }
  &__intro{
    text-align: center;
  }
  &__border {
    /* Colors / Black */
    border: 2px solid $color__dark;
    box-sizing: border-box;
    /* Shadow / 400 */
    box-shadow: 0px 4px 0px $color__dark;
    border-radius: 16px;
  }
  &__section {
    margin-top: 40px;
  }
  &__project {
    margin-top: 30px;
    width: 100%;
    height: 287px;
    background: #fafafa;
    // box-shadow: 0px 13px 24px rgba(0, 0, 0, 0.14), inset 0px 4px 10px 3px rgba(255, 255, 255, 0.66), inset 0px 9px 6px rgba(255, 225, 208, 0.63), inset 0px -7px 5px rgba(79, 94, 88, 0.35);
    border-radius: 53px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    &__card{
      position: relative;
      border: 6px solid $color__uva;
    }
  }
  &__flex {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 15px;
    div {
      margin: 15px;
    }
  }
  &__card {
    margin-top: 30px;
    height: 150px;
    @include xm-device {
      height: 120px;
    }
  }
}

.fa {
  display: inline-table;
  padding: 15px;
  font-size: 28px;
  border-radius: 25%;
  background: $color__dark;
  color: white;
}

.fa:hover {
  background-color: $color__uva;
}

.marker {
  background-color: $color__dark;
  color: white;
}
.marker:hover {
  background-color: $color__uva;
}

.uva_font {
  color: $color__uva;
}

.slow_shake_it:hover {
  animation: shake 4.5s;
  animation-iteration-count: infinite;
}

.medium_shake_it:hover {
  animation: shake 2.5s;
  animation-iteration-count: infinite;
}

.shake_it:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.rainbow:hover {
  animation: rainbow 2.5s linear;
  animation-iteration-count: infinite;
}

@keyframes rainbow {
  100%,
  0% {
    color: rgb(255, 0, 0);
  }
  8% {
    color: rgb(255, 127, 0);
  }
  16% {
    color: rgb(255, 255, 0);
  }
  25% {
    color: rgb(127, 255, 0);
  }
  33% {
    color: rgb(0, 255, 0);
  }
  41% {
    color: rgb(0, 255, 127);
  }
  50% {
    color: rgb(0, 255, 255);
  }
  58% {
    color: rgb(0, 127, 255);
  }
  66% {
    color: rgb(0, 0, 255);
  }
  75% {
    color: rgb(127, 0, 255);
  }
  83% {
    color: rgb(255, 0, 255);
  }
  91% {
    color: rgb(255, 0, 127);
  }
}

.stage {
  margin-top: 45px;
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  // THis is in responsive
  @include xm-device {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.box {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  height: 50px;
  margin: 0 auto 0 auto;
  transform-origin: bottom;
  width: 50px;
  margin: 15px;
}
.jump:hover {
  animation-name: jump;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
}
@keyframes jump {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-40px);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
